{
  "require": [
    "esm",
    "@babel/register"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "exclude": [
    "**/index.js",
    "**/*.config.js",
    "**/*.test.js",
    "lib"
  ],
  "sourceMap": false,
  "instrument": false
}
